@import "variables.scss";

.logo {
  height: 100%;
  padding: 0.6rem;

  video {
    height: 100%;
  }

  img {
    height: 100%;
  }
}

.header {
  @include side-padding;
  z-index: 10;
  width: 100% !important;
  height: 90px !important;

  .header_content {
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;

    div {
      display: flex;
      align-items: center;
    }

    .nav {
      @include tablet {
        display: none;
      }

      @include phone {
        display: none;
      }
    }

    .nav_menu_btn {
      display: none;

      @include tablet {
        display: flex;
        justify-content: center;
        align-items: center
      }

      @include phone {
        display: flex;
        justify-content: center;
        align-items: center
      }
    }

    .links {
      flex: 1;
      padding-left: 4rem;
    }
  }

  @include phone {
    padding: 0 1rem;
  }
}


.layout {
  min-height: calc(100vh - 64px) !important;
  margin-bottom: 0;
}