@import "../../styles/variables.scss";

.footer {
    padding: 2rem;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    gap: 3rem;

    @include phone {
        grid-template-columns: 1fr 1fr;
    }

    @include tablet {
        grid-template-columns: 1fr 1fr;
    }
}

.links {
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: baseline;
    gap: 0.5rem;

    a {
        text-decoration: none;
        color: inherit;
    }
}

.heading {
    color: $primary_color;
    text-transform: uppercase;

    @include phone {
        font-size: 19px;
    }
}